@import "../../styles/variables.scss";

.circularIcon {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list {
  flex-grow: 1;
  justify-content: center;
}
.playIcon {
  height: auto;
  width: 50px;
}
.video {
  height: 200px;
  width: 200px;
}
