@import "./../styles/variables.scss";

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  width: 80vw;
  height: 60px;
  background: #fff;
  border-radius: 3px;
  transition: 0.2s;
  box-shadow: 0 0 0 2px rgb(42, 42, 42);
}
.textField {
}
